body{
    background-color: #D6C0B3;
    background-image: url("./public/penege.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;   /* Horizontally centers */
    align-items: center;       /* Vertically centers */
}

.centered-div {
    width: 300px;
    background-color: rgba(144, 238, 144, 0.123);
    padding: 20px;
    text-align: center;
}