@font-face {
    font-family: 'TT Commons Pro';
    src: url('./fonts/TT_Commons_Pro.ttf') format('truetype');
}

@font-face {
    font-family: 'Castoro';
    src: url('./fonts/CastoroTitling-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Vollkorn';
    src: url('./fonts/static/Vollkorn-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    src: url('./fonts/static/Montserrat-Regular.ttf') format('truetype');
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-width: 0;
    overflow-wrap: break-word;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
    max-height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("./public/penege.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    color: white;
    text-align: center;
    font-family: 'Inter', sans-serif;

}


h1 {
    font-family: 'Vollkorn', serif;
    font-size: 2rem;
    font-weight: normal;
    /* margin: 100px 0; */
    /* margin-bottom: 100px; */
}

h2 {
    font-family: 'Vollkorn', serif; 
    font-size: 1rem;
    /* margin-bottom: 100px; */
    letter-spacing: 2px;
}

p {
    font-family: 'Montserrat', sans-serif; 
    letter-spacing: .025rem;
    /* margin: 20px 0; */
}

.NOTIFICAR{
    font-family: 'Montserrat', sans-serif; 
    
}

 .notify-container {
    margin-top: 30px;
} 

#notify-btn {
    background-color: white;
    color: black;
    padding: 10px 30px;
    font-size: 1rem;
    border: none;
    border-radius: 30px;
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-hand {
    display: inline-block;
    font-family: 'Poppins, Montserrat';
    /* margin-left: 10px; */
    background-size: cover;
    width: 20px;
    height: 20px;
    position: relative
}
.hand-image {
    position: absolute;
    top: 50%;
    left: 50%;
    /* margin-left: 20px;  */
    transform: translate(-50%, -50%); 
    width: 60px; 
    /* margin-top: 5px; */
}

.brand {
    font-size: 0.9rem;
    letter-spacing: 2px;
    /* margin-top: 50px; */
} 

/* FORMULARIO DE NOTIFICAR ---------------------------------------------------------------------- */

#emailForm {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    font-size: 1.5rem;
    object-fit: cover;
    height: 100%;
    background-size: 100%;
}

    
.visible {
    visibility: visible;
    opacity: 1;         
    animation: slidein 0.5s ease-out;
}

@keyframes slidein {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 0.3;
    }
    68%, 72% {
        opacity: 0.7;
    }
    100% {
        opacity: 1;
    }
} 

.nube-container {
    width: 100%;
}

.cloud-move {
    animation: cloudMove 2s linear infinite;
}

@keyframes cloudMove {
    0% {
        background-position: 0% 50%; /* Start at left */
    }
    100% {
        background-position: 100% 50%; /* Move to right */
    }
    }

.bubble {
    animation: bubbleExplotion 3s;
}

@keyframes bubbleExplotion {
    from {
        margin-top: 0;
    }
    to {
        margin-top: 100;
    }

}

/* Window Appearing Animation */
@keyframes enter {
    from {
        opacity: 0;
        transform: translateY(4px) scale(0.95);
    }
    to {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

.window-appear {
    animation: enter 0.3s ease-out forwards;
}

/* Window Disappearing Animation */
@keyframes exit {
    from {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
    to {
        opacity: 0;
        transform: translateY(4px) scale(0.95);
    }
}

.window-disappear {
    animation: exit 0.2s ease-in forwards;
}

.modal-backdrop {
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
  }

  .modal-content {
    opacity: 0;
    transform: scale(0.95);
    transition: all 0.2s ease-in-out;
  }

  .modal-appear {
    display: block !important;
  }

  .modal-appear .modal-backdrop {
    opacity: 1;
  }

  .modal-appear .modal-content {
    opacity: 1;
    transform: scale(1);
  }

/* Leaving: "ease-in duration-200"
From: "opacity-100 translate-y-0 sm:scale-100"
To: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95" */